<!DOCTYPE html>
<html>
  <head>
    <title>Barrier - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <%= stylesheet_link_tag "dashboard.css" %>
    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "dashboard.js" %>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
        <%= image_tag "barrier-logo.png", id: "logo" %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
            <li><span class="glyphicon glyphicon-user"></span><span>Welcome, Intuit!</span><br>
            Last Refresh: 5 minutes
            <a class="glyphicon glyphicon-refresh refresher" style="display: inline"></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div>
          <h1>Total $ Monitored</h1>
          <p id="overall-suspicious">$960,864</p>
          <%= image_tag "bar-stacked.png", id: "bar-stacked" %>
          <span style="margin-right: 10px"><strong>TODAY</strong></span><span style="margin-right: 10px">1 WEEK</span><span>1 MONTH</span>
        </div>
      </div>
      <div class="col-sm-8 col-md-8">
        <div id="txn-alerts">
            <h1>Transaction Alerts</h1>
            <table class="table alerts">
              <thead>
                <tr>
                  <th>Vendor</th>
                  <th>Amount</th>
                  <th>Age</th>
                  <th style="text-align: right">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Payroll</td>
                  <td>$8,600</td>
                  <td>1 week</td>
                  <td><span class="glyphicon glyphicon-flag"></span></td>
                </tr>
                <tr>
                  <td>SWIFT Transfer</td>
                  <td>$2,300</td>
                  <td>4 days</td>
                  <td><span class="glyphicon glyphicon-flag"></span></td>
                </tr>
                <tr>
                  <td>Payroll</td>
                  <td>$1,500</td>
                  <td>8 hours</td>
                  <td><span class="glyphicon glyphicon-question-sign"></span></td>
                </tr>
                <tr>
                  <td>Wire Transfer</td>
                  <td>$600</td>
                  <td>30 minutes</td>
                  <td><span class="glyphicon glyphicon-flag"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-4">
          <div id="acct-breakdown">
            <h1>Account Breakdown</h1>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Account Name</th>
                  <th>Health</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Bank of America</td>
                  <td><span class="glyphicon glyphicon-adjust"></span></td>
                  <td>$244,295</td>
                </tr>
                <tr>
                  <td>Tech Credit Union</td>
                  <td><span class="glyphicon glyphicon-adjust"></span></td>
                  <td>$123,439</td>
                </tr>
                <tr>
                  <td>Silicon Valley Bank</td>
                  <td><span class="glyphicon glyphicon-adjust"></span></td>
                  <td>$97,363</td>
                </tr>
                <tr>
                  <td>Citi</td>
                  <td><span class="glyphicon glyphicon-adjust"></span></td>
                  <td>$56,043</td>
                </tr>
<!--                 <tr>
                  <td>Other Bank</td>
                  <td><span class="glyphicon glyphicon-adjust"></span></td>
                  <td>$35,203</td>
                </tr> -->
              </tbody>
            </table>
          </div>
          <div>
            <h1>Transaction Types</h1>
            <%= image_tag "donut-chart.png", id: "donut-chart" %>
          </div>
          <div>
            <h1>Activity Location</h1>
            <%= image_tag "map.png", id: "map" %>
          </div>
        </div>
        <div class="col-sm-8 col-md-8">
          <div id="alert-bkdn">
            <h1>Alert Breakdown</h1>
            <div>
              <h2 id="new-alerts">6</h2>
              <p id="new-alerts-total">$4,204</p>
              <h3>NEW ALERTS</h3>
            </div>
            <div>
              <h2>4</h2>
              <p>$1,060</p>
              <h3>PENDING</h3>
            </div>            
            <div>
              <h2>2</h2>
              <p>$7,000</p>
              <h3>RESOLVED</h3>
            </div>
            <div>
              <span style="margin-right: 10px"><strong>TODAY</strong></span><span style="margin-right: 10px">1 WEEK</span><span>1 MONTH</span>
            </div>
          </div>
          <div>
            <h1>Recent Transactions</h1>
            <table class="table transactions">
              <thead>
                <tr>
                  <th>Vendor</th>
                  <th>Amount ($)</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class="transaction">
                  <td class="vendor">Office Max</td>
                  <td class="amount">$12,000</td>
                  <td class="status">Pending</td>
                  <td class="actions"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-flag"></span></td>
                </tr>
                <tr>
                  <td>Payroll</td>
                  <td>$8,230</td>
                  <td>Completed</td>
                  <td><span class="glyphicon glyphicon-star" style="color: #FFDE17"></span><span class="glyphicon glyphicon-flag"></span></td>
                </tr>
                <tr>
                  <td>Cisco</td>
                  <td>$6,250</td>
                  <td>Completed</td>
                  <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-flag"></span></td>
                </tr>
                <tr>
                  <td>Microsoft</td>
                  <td>$4,608</td>
                  <td>Pending</td>
                  <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-flag"></span></td>
                </tr>
                <tr>
                  <td>Payroll</td>
                  <td>$3,206</td>
                  <td>Pending</td>
                  <td><span class="glyphicon glyphicon-star" style="color: #FFDE17"></span><span class="glyphicon glyphicon-flag"></span></td>
                </tr>
                <tr>
                  <td>AT&T</td>
                  <td>$2,805</td>
                  <td>Completed</td>
                  <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-flag"></span></td>
                </tr>
                <tr>
                  <td>Apple</td>
                  <td>$1,200</td>
                  <td>Completed</td>
                  <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-flag"></span></td>
                </tr>
                <tr>
                  <td>Payroll</td>
                  <td>$800</td>
                  <td>Completed</td>
                  <td><span class="glyphicon glyphicon-star" style="color: #FFDE17"></span><span class="glyphicon glyphicon-flag"></span></td>
                </tr>
                <tr>
                  <td>Shuttle Inc.</td>
                  <td>$600</td>
                  <td>Completed</td>
                  <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-flag"></span></td>
                </tr>
                <tr>
                  <td>Hyoku LLC</td>
                  <td>$300</td>
                  <td>Completed</td>
                  <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-flag"></span></td>
                </tr>
                <tr>
                  <td>Constant Contact</td>
                  <td>$800</td>
                  <td>Completed</td>
                  <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-flag"></span></td>
                </tr>
              </tbody>
            </table>
            <span class="glyphicon glyphicon-star"></span>Recurring Transaction
            <span class="glyphicon glyphicon-flag"></span>Flag as Suspicious
          </div>          
        </div>
    </div>
  </body>
</html>